/segundo-semestre/ConectaBanco/build/
/segundo-semestre/ConectaBanco/dist/
/segundo-semestre/ConectaBanco/nbproject/private/
/AprendendoForma/build/
/AprendendoForma/nbproject/private/
/calculadora-java/AprendendoForma/build/
